<mat-nav-list>
  <mat-list-item
    *ngFor="let project of projects"
    [routerLink]="['/project', project.id]"
  >
    <span matLine>
      <span class="project-name">{{ project.name }}</span>
      <span class="project-dates">
        {{ project.startDate | date: "dd.MM.yyyy" }} -
        {{ project.endDate | date: "dd.MM.yyyy" }}
      </span>
    </span>

    <button
      mat-icon-button
      (click)="deleteProject(project.id); $event.stopPropagation()"
      class="button"
      matTooltip="Projekt löschen"
      matTooltipPosition="left"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
