<div class="project-container">
  <!-- Projektinformationen -->
  <div class="project-header">
    <mat-form-field>
      <input matInput [(ngModel)]="project.name" placeholder="Projektname" />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="project.startDate"
        [matDatepicker]="startPicker"
        placeholder="Startdatum"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="project.endDate"
        [matDatepicker]="endPicker"
        placeholder="Enddatum"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Aufgaben-Tabelle -->
  <div class="task-board">
    <div
      class="column"
      *ngFor="let column of columns"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event)"
    >
      <h3>{{ column.name }}</h3>
      <button mat-raised-button color="primary" (click)="addTask(column)">
        Task hinzufügen
      </button>

      <div class="task" *ngFor="let task of column.tasks" cdkDrag>
        <mat-card>
          <div class="task-content">
            <span>{{ task.title }}</span>
            <div class="task-actions">
              <button mat-icon-button (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask(task, column)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
