<div class="project-container">
  <!-- Projektinformationen -->
  <div class="project-header">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="project.name"
        (ngModelChange)="onProjectChange()"
        placeholder="Project name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="project.startDate"
        [matDatepicker]="startPicker"
        (dateChange)="onProjectChange()"
        placeholder="Start date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="startPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="project.endDate"
        [matDatepicker]="endPicker"
        (dateChange)="onProjectChange()"
        placeholder="End date"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div cdkDropListGroup class="task-board">
    @for (status of ["PENDING", "IN PROGRESS", "DONE"]; track status) {
      <div
        cdkDropList
        class="column"
        [cdkDropListData]="getTasksByStatus(status)"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="['PENDING', 'IN PROGRESS', 'DONE']"
        [id]="status"
      >
        <h3>{{ status | titlecase }}</h3>
        <button mat-raised-button color="primary" (click)="addTask(status)">
          Add task
        </button>

        @for (task of getTasksByStatus(status); track task) {
          <div cdkDrag class="task">
            <mat-card>
              <div class="task-content">
                <input
                  matInput
                  [(ngModel)]="task.description"
                  placeholder="task"
                  class="task-edit-input"
                  (ngModelChange)="onProjectChange()"
                  #textInput
                  (input)="adjustInputWidth(textInput)"
                  aria-placeholder="task"
                />

                <div class="task-actions">
                  <button mat-icon-button (click)="deleteTask(task)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        }
      </div>
    }
  </div>
</div>
