.project-container {
  padding: 16px;
}

.project-header {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.task-board {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
}

.column {
  flex: 1;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.task {
  margin: 8px 0;
}

.task-title {
  margin-left: 20px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-actions {
  display: flex;
  gap: 8px;
}

.task-edit-input:focus {
  border-bottom: 1px solid #ccc; /* Optional: Unterstreichung beim Fokus */
  background: transparent;
}

.task-edit-input {
  margin-left: 15px;
  border: none; /* Kein Rahmen */
  background: transparent; /* Kein Hintergrund */
  font-size: inherit; /* Gleiche Schriftgröße wie der umgebende Text */
  font-family: inherit; /* Gleiche Schriftart */
  outline: none; /* Kein Fokusrahmen */
  width: auto; /* Breite passt sich an */
  min-width: 1ch; /* Sicherstellen, dass es nicht zu klein ist */
}

.task-edit-container {
  display: inline-block; /* Nur so breit wie der Inhalt */
}
